@font-face {
	font-family: Synch;
	src: url(fonts/PFSynchPro-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Synch;
	src: url(fonts/PFSynchPro-Bold.ttf);
	font-weight: bold;
}

:root {
	--bs-body-font-family: Synch;
}
