#canvas {
	position: relative;
	max-width: 1600px;
	margin: auto;
}

#canvas #map {
	width: 100%;
}

#canvas svg {
	overflow: visible;
}

#canvas svg path { fill: white; }
#canvas svg polygon { fill: white; }
#canvas svg >g>rect { fill: white; }
#canvas svg path,
#canvas svg polygon,
#canvas svg >g>rect {
	fill-opacity: 0.5;
	vector-effect: non-scaling-stroke;
}
#canvas svg.place-selected path,
#canvas svg.place-selected polygon,
#canvas svg.place-selected >g>rect {
	fill-opacity: 0.75;
}

#canvas #heading-section {
	position: absolute;
	top: 0%;
	left: 0%;
}
#canvas #status-section {
	position: absolute;
	top: 0%;
	right: 1.3%;
}
#canvas #status-section #time-div {
	order: 1;
}
#canvas #score-section {
	position: absolute;
	top: 10%;
	left: 0%;
	height: 90%;
	width: 20%;
}
#canvas #recent-section {
	position: absolute;
	top: 10%;
	right: 1.3%;
	height: 90%;
	width: 20%;
}
#canvas #recent-section h2 {
	text-align: end;
}
#canvas #place-popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

#canvas .alert {
	background-color: rgb(from var(--bs-alert-bg) r g b / 50%);
}
#canvas #place-popup .alert {
	background-color: rgb(from var(--bs-alert-bg) r g b / 90%);
}
#canvas .list-group-item {
	background-color: rgb(from var(--bs-list-group-bg) r g b / 50%);
}
